.button{
  margin: 10px 0px;
  font-size: 25px;
  border: none;
  cursor: pointer;

  background-color: aqua;
  padding-left: 100px;
  padding-right: 100px;
}
input{
  padding:0px;
}
.font-icons{
  display: flex;
  justify-content: space-around;
}
.icons{
  cursor: pointer;
  font-size: 20px;
  color: aqua;
}
select{
  padding:10px
  
}
.course{
  display: flex;
  justify-content: space-around;
  /* grid-template-columns: 80px 200px auto 40px; */
}
.course-title{
  padding-top: 100px;
}
.select-tag{
  padding-left: 100px;
  background-color: aqua;
  margin-top: 95px;
  cursor: pointer;
}
/* .course-form{
  display: grid;
} */
.allcourse{
  display: grid;
  margin-top: 20px;
}